/* Меню */
.nav-link {
    color: white !important;
}

.nav-link:hover{
    color:#cadfff !important;
}

.nav-link, .dropdown-menu, .dropdown-item{
    font-weight: 500;
    font-size: 18px;
}

.menu{
    background-color: #0d6efd;
}

.navbar-brand img{
    height: 80% !important;
    width: 80% !important;
}


/* Тело сайта */
.heading{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.headingRight{
    margin-left: 16px;
    margin-bottom: 0;
}

.headingLeft{
    margin-right: 16px;
    margin-bottom: 0;
}

.text, .heading{
    text-align: justify;
}

.text{
    font-size: 18px;
}

.HeadingText{
    margin: 16px 0;
    text-align: center;
}

.modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}

.orderCall{
    display: flex;
    justify-content: center;
}

.orderCall button{
    margin: 16px 0;
    padding: 1rem 5rem;
}

.window .modal-content{
    background-color: rgba(255, 255, 255) !important;
}

#errName, #errPhone{
    color:red;
    opacity: 0;
    font-size: 12px;
    margin: 0;
}

/* Подвал */
footer{
    margin-top: 16px;
    padding: 16px 0;
    background-color: #F9F9F9;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

#address{
    margin-top: 0;
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.link{
    color: black;
}

svg{
    margin-right: 15px;
}

.network{
    text-decoration: none;
}


.network > svg{
    transition: all 0.8s ease 0s;
}
.network > svg:hover{
    transform: scale(1.2);
}

iframe{
    width: 100%;
    height: 100%;
}

.modal-dialog-centered .modal-body{
    align-items: center;
}

@media (min-width: 992px){
    .menu{
        width: 100%;
        position: fixed;
        z-index: 10;
    }

    .map{
        height: 500px;
        width: 500px;
    }

    .headingImg{
        width: 90%;
    }

    .iphoneImg{
        width: 40%;
    }

    .map{
        height: 500px;
        width: 500px;
    }

}

@media (max-width: 992px){

    .dropdown-item{
        color: white !important;
    }
    .dropdown-menu{
        background-color: #0d6efd !important;
        border: none !important;
    }

    .menu{
        position: relative;
    }

    .headingImg{
        width: 50%;
    }
    .iphoneImg{
        width: 30%;
    }

    .map{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px){
    .heading{
        flex-direction: column;
    }

    .headingImg{
        width: 70%;
    }

    .head2{
        flex-direction: column-reverse;
    }
    
    .headingImg{
        margin: 16px 0;
    }

    .img-fluid{
        width: 70%;
    }

    .col-md-4{
        display: flex;
        justify-content: center;
    }

    .modal-body{
        display: flex;
        justify-content: center;
    }

    .modal-dialog .modal-body{
        flex-direction: column;
    }

    .textSlide{
        display: none;
    }

    h5{
        display: block !important;
    }

    .btn{
        width: 100%;
    }

    .container{
        flex-direction: column-reverse;
    }

    .map{
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (min-width: 768px){

    .modal-dialog-centered .modal-body img{
        width: 90%;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px){

    .btn{
        width: 100%;
    }

}

@media (min-width: 1000px){
    .modal-dialog-centered .modal-body img{
        width: 100%;
    }
}