/* Меню */
.nav-link {
    color: white !important;
}

.nav-link:hover{
    color:#cadfff !important;
}

.interpreter, .breadcrumbs {
    color: rgb(127, 127, 127);
    text-decoration: none;
}

.interpreter:hover{
    text-decoration: underline;
}

.nav-link, .dropdown-menu, .dropdown-item{
    font-weight: 500;
    font-size: 18px;
}

.menu{
    background-color: #0d6efd;
}

.navbar-brand img{
    height: 80% !important;
    width: 80% !important;
}


/* Тело сайта */

.interpreter, .breadcrumbs {
    color: rgb(127, 127, 127);
    text-decoration: none;
}

.interpreter:hover{
    text-decoration: underline;
}

.aboutUs p, .textAboutUs{
    text-align: justify;
}

.aboutUs{
    display: flex;
}

.heading{
    margin: 16px 0;
    text-align: center;
}

.textName{
    margin: 0;
}

.card{
    margin-bottom: 16px;
}

.orderCall{
    display: flex;
    justify-content: center;
}

.orderCall button{
    margin: 16px 0;
    padding: 1rem 5rem;
}

#errName, #errPhone{
    color:red;
    opacity: 0;
    font-size: 12px;
    margin: 0;
}



/* Подвал */
footer{
    margin-top: 16px;
    padding: 16px 0;
    background-color: #F9F9F9;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

#address{
    margin-top: 0;
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.link{
    color: black;
}

svg{
    margin-right: 15px;
}

.network{
    text-decoration: none;
}

.network > svg{
    transition: all 0.8s ease 0s;
}
.network > svg:hover{
    transform: scale(1.2);
}

iframe{
    width: 100%;
    height: 100%;
}

.modal-dialog-centered .modal-body{
    align-items: center;
}

.contacts a{
    color:black;
}

@media (min-width: 993px){
    section{
        padding-top: 116px;
    }
}

@media (min-width: 992px){

    .menu{
        width: 100%;
        position: fixed;
        z-index: 10;
    }

    .aboutUs div{
        width: 60% !important;
        margin-right: 16px !important;
    }

    .aboutUs img{
        height: 100% !important;
        margin: 0 !important;
    }

    .aboutUs{
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
    }

    .map{
        height: 500px;
        width: 500px;
    }

}

@media (max-width: 992px){

    header{
        margin-bottom: 16px;
    }

    .interpreter{
        margin-top: 16px;
    }

    .dropdown-item{
        color: white !important;
    }
    .dropdown-menu{
        background-color: #0d6efd !important;
        border: none !important;
    }
    .menu{
        position: relative;
    }

    .aboutUs{
        flex-direction: column;
    }

    .aboutUs div{
        width: 100%;
    }

    .aboutUs img{
        margin: 0 10%;
    }

    .map{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px){

    .contacts{
        flex-direction: column;
    }

    .contacts .map{
        margin-top: 16px;
    }

    .btn{
        width: 100%;
    }

    .container{
        flex-direction: column-reverse;
    }

    .map{
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (min-width: 768px){

    .modal-body{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px){

    .btn{
        width: 100%;
    }

}