/* Меню */
.nav-link {
    color: white !important;
}

.nav-link:hover{
    color:#cadfff !important;
}

.interpreter, .breadcrumbs {
    color: rgb(127, 127, 127);
    text-decoration: none;
}

.interpreter:hover{
    text-decoration: underline;
}

.nav-link, .dropdown-menu, .dropdown-item{
    font-weight: 500;
    font-size: 18px;
}

.menu{
    background-color: #0d6efd;
}

.navbar-brand img{
    height: 80% !important;
    width: 80% !important;
}


/* Тело сайта */

.interpreter, .breadcrumbs {
    color: rgb(127, 127, 127);
    text-decoration: none;
}

.interpreter:hover{
    text-decoration: underline;
}

.heading{
    margin: 16px 0;
}

form{
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttonDiv{
    align-items: center;
    display: flex;
    justify-content: center;
}

form p{
    margin: 0;
}

form > div{
    border: 1px solid #0d6efd;
    border-radius: .25rem;
    padding: 16px;
    align-items: center;
}

select{
    margin: 0 !important;
}

select, textarea{
    width: 100%;
}

.checkboxDiv{
    display: flex;
    align-items: baseline;
}

.checkboxDiv input{
    margin-right: 4px;
    accent-color: #0d6efd;
}

.checkboxDiv a{
    color: rgb(127, 127, 127);
}

#errName, #errPhone, #errTechnic, #errProblem, #errAgreement{
    color:red;
    margin-bottom: 0;
    margin-bottom: 4px;
    opacity: 0;
}

/* Подвал */
footer{
    margin-top: 16px;
    padding: 16px 0;
    background-color: #F9F9F9;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

#address{
    margin-top: 0;
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.link{
    color: black;
}

svg{
    margin-right: 15px;
}

.network{
    text-decoration: none;
}

.network > svg{
    transition: all 0.8s ease 0s;
}
.network > svg:hover{
    transform: scale(1.2);
}

iframe{
    width: 100%;
    height: 100%;
}

.modal-dialog-centered .modal-body{
    align-items: center;
}

.contacts a{
    color:black;
}

@media (min-width: 993px){
    section{
        padding-top: 116px;
    }
}

@media (min-width: 992px){

    .menu{
        width: 100%;
        position: fixed;
        z-index: 10;
    }

    .map{
        height: 500px;
        width: 500px;
    }

}

@media (max-width: 992px){

    header{
        margin-bottom: 16px;
    }

    .interpreter{
        margin-top: 16px;
    }

    .dropdown-item{
        color: white !important;
    }
    .dropdown-menu{
        background-color: #0d6efd !important;
        border: none !important;
    }
    .menu{
        position: relative;
    }

    .map{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 768px){

    .contacts{
        flex-direction: column;
    }

    .contacts .map{
        margin-top: 16px;
    }
    
    form{
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    .container{
        flex-direction: column-reverse;
    }

    .map{
        margin-bottom: 16px;
        width: 100%;
    }
}

@media (min-width: 768px){

    .modal-dialog-centered .modal-body img{
        width: 90%;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 576px){

    .btn{
        width: 100%;
    }

}

@media (min-width: 1000px){
    .modal-dialog-centered .modal-body img{
        width: 100%;
    }
}